<div class="container">
  <div class="pull-right buttons">
    <button *ngIf="isUserLoggedIn()" (click)="onAddTeam()" class="btn btn-success add-team">Add Team</button>
    <button (click)="toggleGrid()" type="button" class="btn btn-primary">
      <i [class.glyphicon-align-justify]="isGrid == true" [class.glyphicon-th-large]="isGrid == false" class="glyphicon"></i>
    </button>
  </div>
</div>

<div class="container" *ngIf="isGrid == true">
  <div style="margin-top: 10px; cursor: pointer" class="col-md-3" *ngFor="let team of teams">

    <img class="team-icon" src="http://localhost:3000/{{team.Team_Icon}}" alt="" (click)="onSelectTeam(team)">
    <div class="title">{{team.Team_Name}}</div>
    <button *ngIf="isUserLoggedIn()" (click)="onDelete(team)" class="btn btn-danger delete-button">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </div>
</div>

<div class="container" *ngIf="isGrid == false">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team Id</th>
        <th>Team Name</th>
        <th>Country</th>
        <th *ngIf="isUserLoggedIn()">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams" (click)="onSelectTeam(team)">
        <td>{{team.Team_Id}}</td>
        <td>{{team.Team_Name}}</td>
        <td>{{team.Country_Name}}</td>
        <td class="action" *ngIf="isUserLoggedIn()">
          <button (click)="onDelete(team)" class="btn btn-danger delete-button">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
          <button (click)="onUpdate(team)" class="btn btn-warning edit-button">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>