<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3">
      <img class="photo" src="http://localhost:3000/{{player.Player_Photo}}" alt="">
    </div>

    <div class="col-md-9">
      <div><strong>Player Name: </strong>{{player.Player_Name}}</div>
      <div><strong>Born : </strong>{{player.BirthDate}}</div>
      <div><strong>Age: </strong>{{player.Age}}</div>
      <div><strong>Major Teams: </strong>{{player.MajorTeams}}</div>
      <div><strong>Playing Role: </strong>{{player.PlayingRole}}</div>
      <div><strong>Batting Style : </strong>{{player.BatingStyle}}</div>
      <div><strong>Bowling Style: </strong>{{player.BowlingStyle}}</div>
      <div><strong>Native Palce: </strong>{{player.NativePlace}}</div>
      <div><strong>Description: </strong>{{player.Description}}</div>
    </div>
    <div>
      <button (click)="getBack()" class="btn">Back</button>
    </div>
  </div>
</div>