/* .cricket-management {
    background-color: #d7dae0;
} */

.logo {
    margin-top: -7px;
    height: 30px;
    width: 30px;
}
.navbar{
    margin-bottom: 0px;
}
.cricket-link{
    color: aliceblue;
    text-decoration: none;
}

.user{
    padding-top: 15px;
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}