<div class="container">

  <div class="match-type">{{matchType}}</div>
  <div class="score">
    <div class="team1-wrapper">
      <div class="team1-label">
        {{teamAName}}
        <span class="batting" *ngIf="teamAId === winningTeamId">- WON </span>
      </div>
      <div class="team1-score">
        <div class="topmargin">
          <label>Team {{teamAName}} Score</label>
        </div>
        <div class="">
          <label>Total Runs: {{teamAScore.runs}}</label>
        </div>
        <div class="">
          <label>Wickets: {{teamAScore.wickets}}</label>
        </div>
        <div class="">
          <label>Overs: {{teamAScore.overs}}</label>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Run</th>
            <th>Wicket</th>
            <th>Batsman</th>
            <th>Bowler</th>
            <th>Discription</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of detailScoreA">
            <td>{{score.run}}</td>
            <td>{{score.wickets}}</td>
            <td>{{score.batId}}</td>
            <td>{{score.ballerId}}</td>
            <td>{{score.discription}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="separator">
      VS
    </div>
    <div class="team2-wrapper">
      <div class="team2">
        <span class="batting" *ngIf="teamBId === winningTeamId">WON - </span>
        {{teamBName}}
      </div>

      <div class="team2-score">
        <div class="topmargin">
          <label>Team {{teamBName}} Score</label>
        </div>
        <div class="">
          <label>Total Runs: {{teamBScore.runs}}</label>
        </div>
        <div class="">
          <label>Wickets: {{teamBScore.wickets}}</label>
        </div>
        <div class="">
          <label>Overs: {{teamBScore.overs}}</label>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Run</th>
            <th>Wicket</th>
            <th>Batsman</th>
            <th>Bowler</th>
            <th>Discription</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of detailScoreB">
            <td>{{score.run}}</td>
            <td>{{score.wickets}}</td>
            <td>{{score.batId}}</td>
            <td>{{score.ballerId}}</td>
            <td>{{score.discription}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>