h1 {
    text-align: center;
}

.image{
  min-height: 53.5em; 
  background-size:cover;
  width:auto;
  background-image: url(../../../../src/assets/images/stadium.jpg);
  background-position:center;
}

.white-background{
  background: white;
}
.white {
  color: white;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
}