<div class="container">
    <div class="pull-right buttons">
      <button *ngIf="isUserLoggedIn()" (click)="onAddPlayer()" class="btn btn-success add-player">Add Player</button>
      <button (click)="toggleGrid()" type="button" class="btn btn-primary">
        <i
          [class.glyphicon-align-justify]="isGrid == true"
          [class.glyphicon-th-large]="isGrid == false"
          class="glyphicon"></i>
      </button>
    </div>
  </div>
  
  <div class="container" *ngIf="isGrid == true">
    <div
      (click)="onSelectPlayer(player)"
      style="margin-top: 10px; cursor: pointer"
      class="col-md-3"
      *ngFor="let player of players">
  
      <button *ngIf="isUserLoggedIn()" (click)="onDelete(player)" class="btn btn-danger delete-button">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
      <img class="player-icon" src="http://localhost:3000/{{player.Player_Photo}}" alt="">
      <div class="title">{{player.Player_Name}}</div>
    </div>
  </div>
  
  <div class="container" *ngIf="isGrid == false">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player Id</th>
          <th>Player Name</th>
          <th *ngIf="isUserLoggedIn()">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.Player_Id}}</td>
          <td>{{player.Player_Name}}</td>
          <td *ngIf="isUserLoggedIn()" class="action">
              <button (click)="onDelete(player)" class="btn btn-danger delete-button">
                  <i class="glyphicon glyphicon-trash"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>